#creationArticle .formInput {
    display: flex;
    flex-direction: column;
}

/* Page creation-article */
#creationArticle button {
    float: right;
    background-color: #63af36;
    border: 1px solid #407a1e;
    border-radius: 2px;  
}

#creationArticle button:hover {
    background-color: #407a1e;
    border: 1px solid #63af36;
}